# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
.next
.nuxt
.cache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Other
coverage
.DS_Store
*.min.js
*.min.css
